In [1]:
Text = "I am learning NLP"

In [2]:
import pandas as pd
pd.get_dummies(Text.split())

       I    NLP     am  learning
0   True  False  False     False
1  False  False   True     False
2  False  False  False      True
3  False   True  False     False

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
text = ["i love NLP and i will learn NLP in 2month"]
vectorizer = CountVectorizer()
vectorizer.fit(text)
vector = vectorizer.transform(text)

In [12]:
print(vectorizer.vocabulary_)

{'love': 4, 'nlp': 5, 'and': 1, 'will': 6, 'learn': 3, 'in': 2, '2month': 0}

In [13]:
print(vector)

  (0, 0)	1
  (0, 1)	1
  (0, 2)	1
  (0, 3)	1
  (0, 4)	1
  (0, 5)	2
  (0, 6)	1

In [14]:
df=pd.DataFrame(data=vector.toarray(),columns = vectorizer.get_feature_names_out())

In [15]:
df

   2month  and  in  learn  love  nlp  will
0       1    1   1      1     1    2     1

In [17]:
!pip install textblob

Collecting textblob
  Downloading textblob-0.19.0-py3-none-any.whl.metadata (4.4 kB)
Collecting nltk>=3.9 (from textblob)
  Using cached nltk-3.9.1-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: click in c:\users\bhuvansai\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.1.7)
Requirement already satisfied: joblib in c:\users\bhuvansai\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\bhuvansai\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\bhuvansai\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.65.0)
Requirement already satisfied: colorama in c:\users\bhuvansai\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)
Downloading textblob-0.19.0-py3-none-any.whl (624 kB)
   ---------------------------------------- 0.0/624.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/624.3 kB ? eta -:--:--
    --------------------------------------- 10.2/624.3 kB ? eta -:--:--
   -- ------------------------------------ 41.0/624.3 kB 495.5 kB/s eta 0:00:02
   ------------------- -------------------- 297.0/624.3 kB 2.6 MB/s eta 0:00:01
   ---------------------------------------- 624.3/624.3 kB 3.9 MB/s eta 0:00:00
Using cached nltk-3.9.1-py3-none-any.whl (1.5 MB)
Installing collected packages: nltk, textblob
  Attempting uninstall: nltk
    Found existing installation: nltk 3.8.1
    Uninstalling nltk-3.8.1:
      Successfully uninstalled nltk-3.8.1
Successfully installed nltk-3.9.1 textblob-0.19.0

In [23]:
text = "I am learning NLP"
import nltk
nltk.download('punkt_tab')
from textblob import TextBlob

TextBlob(text).ngrams(1)

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\Bhuvansai\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.

[WordList(['I']), WordList(['am']), WordList(['learning']), WordList(['NLP'])]

In [24]:
TextBlob(text).ngrams(2)

[WordList(['I', 'am']),
 WordList(['am', 'learning']),
 WordList(['learning', 'NLP'])]

In [25]:
TextBlob(text).ngrams(3)

[WordList(['I', 'am', 'learning']), WordList(['am', 'learning', 'NLP'])]

In [27]:
TextBlob(text).ngrams(4)

[WordList(['I', 'am', 'learning', 'NLP'])]

In [3]:
#Covid_News_Classification

from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
import pickle
from sklearn.linear_model import LogisticRegressionCV
import re
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [4]:
df = pd.read_csv('covid_fake.csv')

In [5]:
df.head()

,title,text,source,label
0,Due to the recent outbreak for the Coronavirus...,"You just need to add water, and the drugs and ...",coronavirusmedicalkit.com,Fake
1,NaN,Hydroxychloroquine has been shown to have a 10...,RudyGiuliani,Fake
2,NaN,Fact: Hydroxychloroquine has been shown to hav...,CharlieKirk,Fake
3,NaN,The Corona virus is a man made virus created i...,JoanneWrightForCongress,Fake
4,NaN,Doesn’t @BillGates finance research at the Wuh...,JoanneWrightForCongress,Fake

In [6]:
df.isnull().sum()

title     82
text      10
source    20
label      5
dtype: int64

In [7]:
df.shape

(1164, 4)

In [8]:
df['label'].value_counts()

label
TRUE    584
Fake    345
fake    230
Name: count, dtype: int64

In [9]:
df.loc[5:15]

,title,text,source,label
5,CORONA UNMASKED: Chinese Intelligence Officer ...,NaN,NaN,NaN
6,NaN,Urgent: Health Bulletin to the Public. Ministr...,Ministry of Health,Fake
7,NaN,"Pls tell ur families, relatives and friendsMOH...",NWLLAB,Fake
8,NaN,SERIOUS EXCELLENT ADVICE by Japanese doctors t...,Japanese doctors treating COVID-19 cases,Fake
9,Basic protective measures against the new coro...,Stay aware of the latest information on the CO...,https://www.who.int/emergencies/diseases/novel...,TRUE
10,NaN,The new Coronavirus may not show signs of infe...,Taiwan Experts,Fake
11,NaN,A vaccine meant for cattle can be used to figh...,facebook,Fake
12,NaN,Using a hair dryer to breathe in hot air can c...,Youtube,Fake
13,NaN,Corona virus before it reaches the lungs it re...,twitter,Fake
14,Exposing yourself to the sun or to temperature...,"You can catch COVID-19, no matter how sunny or...",https://www.who.int/emergencies/diseases/novel...,TRUE
15,You can recover from the coronavirus disease (...,Most of the people who catch COVID-19 can reco...,https://www.who.int/emergencies/diseases/novel...,NaN

In [21]:
df.loc[df['label'] == 'Fake',['label']] = 'FAKE'
df.loc[df['label'] == 'fake',['label']] = 'FAKE'
df.loc[df['label'] == 'facebook',['source']] = 'Facebook'
df.text.fillna(df.title,inplace = True)

df.loc[5]['label'] = 'FAKE'
df.loc[15]['label'] = 'TRUE'
df.loc[43]['label'] = 'FAKE'
df.loc[131]['label'] = 'TRUE'
df.loc[242]['label'] = 'FAKE'

df.title.fillna('missing',inplace = True)
df.source.fillna('missing',inplace = True)
df['Title_text'] = df['title'] +" "+ df['text']

df.isnull().sum()

title         0
text          0
source        0
label         0
Title_text    0
dtype: int64

In [22]:
df.head()

,title,text,source,label,Title_text
0,Due to the recent outbreak for the Coronavirus...,"You just need to add water, and the drugs and ...",coronavirusmedicalkit.com,FAKE,Due to the recent outbreak for the Coronavirus...
1,missing,Hydroxychloroquine has been shown to have a 10...,RudyGiuliani,FAKE,missing Hydroxychloroquine has been shown to h...
2,missing,Fact: Hydroxychloroquine has been shown to hav...,CharlieKirk,FAKE,missing Fact: Hydroxychloroquine has been show...
3,missing,The Corona virus is a man made virus created i...,JoanneWrightForCongress,FAKE,missing The Corona virus is a man made virus c...
4,missing,Doesn’t @BillGates finance research at the Wuh...,JoanneWrightForCongress,FAKE,missing Doesn’t @BillGates finance research at...

In [23]:
df.isnull().sum()

title         0
text          0
source        0
label         0
Title_text    0
dtype: int64

In [24]:
df.isna().sum()

title         0
text          0
source        0
label         0
Title_text    0
dtype: int64

In [25]:
df['label'].value_counts()

label
TRUE    586
FAKE    578
Name: count, dtype: int64

In [26]:
df.head()

,title,text,source,label,Title_text
0,Due to the recent outbreak for the Coronavirus...,"You just need to add water, and the drugs and ...",coronavirusmedicalkit.com,FAKE,Due to the recent outbreak for the Coronavirus...
1,missing,Hydroxychloroquine has been shown to have a 10...,RudyGiuliani,FAKE,missing Hydroxychloroquine has been shown to h...
2,missing,Fact: Hydroxychloroquine has been shown to hav...,CharlieKirk,FAKE,missing Fact: Hydroxychloroquine has been show...
3,missing,The Corona virus is a man made virus created i...,JoanneWrightForCongress,FAKE,missing The Corona virus is a man made virus c...
4,missing,Doesn’t @BillGates finance research at the Wuh...,JoanneWrightForCongress,FAKE,missing Doesn’t @BillGates finance research at...

In [27]:
df.shape

(1164, 5)

In [28]:
#preprocessing

df['Title_text'][3]

'missing The Corona virus is a man made virus created in a Wuhan laboratory. Ask @BillGates who financed it.'

In [32]:
def preprocessor(text):
    text = re.sub(r'<[^>]*>','',text)
    text = re.sub(r'[^\w\s]','',text)
    text = re.sub(r'[\n]','',text)
    text = text.lower()
    return text

df['Title_text'] = df['Title_text'].apply(preprocessor)
df['Title_text'][3]

'missing the corona virus is a man made virus created in a wuhan laboratory ask billgates who financed it'

In [33]:
porter = PorterStemmer()
def tokenize_porter(text):
    return [porter.stem(word) for word in text.split()]

In [35]:
#TFIDF
tfidf = TfidfVectorizer(strip_accents=None,lowercase=False,preprocessor=None,tokenizer=tokenize_porter,use_idf=True,norm='l2',smooth_idf=True)
X = tfidf.fit_transform(df['Title_text'])
y = df.label.values

In [36]:
X.shape

(1164, 27020)

In [40]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state = 0,test_size=0.3,shuffle = False)

In [46]:
clf = LogisticRegressionCV(cv=5,scoring='accuracy',random_state=0,n_jobs=-1,verbose=0,max_iter=300)

clf.fit(X_train,y_train)
#Saving model using pickle
fake_news_model = open('fake_news_model.sav','wb')
pickle.dump(clf,fake_news_model)
fake_news_model.close()

In [47]:
#model evaluation

filename = 'fake_news_model.sav'
saved_clf = pickle.load(open(filename,'rb'))

saved_clf.score(X_test,y_test)

0.9257142857142857

In [49]:
from sklearn.metrics import classification_report
y_pred = clf.predict(X_test)
report = classification_report(y_test,y_pred)
print(report)

              precision    recall  f1-score   support

        FAKE       0.91      0.89      0.90       132
        TRUE       0.93      0.95      0.94       218

    accuracy                           0.93       350
   macro avg       0.92      0.92      0.92       350
weighted avg       0.93      0.93      0.93       350

In [51]:
clf.predict(X_test[5])

array(['TRUE'], dtype=object)

In [ ]:
test = 'corona virus before it reaches the lungs it will kill'
inp = [test]
vect = tfidf.transform(inp)
pre