In [7]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('fake_news.csv')

In [3]:
data.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [4]:
data.shape

(20800, 5)

In [5]:
data.info

<bound method DataFrame.info of           id                                              title  \
0          0  House Dem Aide: We Didn’t Even See Comey’s Let...
1          1  FLYNN: Hillary Clinton, Big Woman on Campus - ...
2          2                  Why the Truth Might Get You Fired
3          3  15 Civilians Killed In Single US Airstrike Hav...
4          4  Iranian woman jailed for fictional unpublished...
...      ...                                                ...
20795  20795  Rapper T.I.: Trump a ’Poster Child For White S...
20796  20796  N.F.L. Playoffs: Schedule, Matchups and Odds -...
20797  20797  Macy’s Is Said to Receive Takeover Approach by...
20798  20798  NATO, Russia To Hold Parallel Exercises In Bal...
20799  20799                          What Keeps the F-35 Alive

                                          author  \
0                                  Darrell Lucus
1                                Daniel J. Flynn
2                             Consortiumnews.com
3                                Jessica Purkiss
4                                 Howard Portnoy
...                                          ...
20795                              Jerome Hudson
20796                           Benjamin Hoffman
20797  Michael J. de la Merced and Rachel Abrams
20798                                Alex Ansary
20799                              David Swanson

                                                    text  label
0      House Dem Aide: We Didn’t Even See Comey’s Let...      1
1      Ever get the feeling your life circles the rou...      0
2      Why the Truth Might Get You Fired October 29, ...      1
3      Videos 15 Civilians Killed In Single US Airstr...      1
4      Print \nAn Iranian woman has been sentenced to...      1
...                                                  ...    ...
20795  Rapper T. I. unloaded on black celebrities who...      0
20796  When the Green Bay Packers lost to the Washing...      0
20797  The Macy’s of today grew from the union of sev...      0
20798  NATO, Russia To Hold Parallel Exercises In Bal...      1
20799    David Swanson is an author, activist, journa...      1

[20800 rows x 5 columns]>

In [8]:
data.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [10]:
data.loc[200:300]

,id,title,author,text,label
200,200,Miami Beach Tries to Tame Its Most Raucous Str...,Lizette Alvarez,"MIAMI BEACH, Fla. — From rooftop bars and r...",0
201,201,Doctors Mysteriously Found Dead After Summit F...,Starkman,The medical community at large is a gasp as se...,1
202,202,"Donald Trump, the Unsinkable Candidate - The N...",Declan Walsh,This American presidential election is a dizzy...,0
203,203,Shocking New Mock Hillary Ad Campaign Warns Sh...,The Daily Sheeple,"\nA lot of people, especially millennials, are...",1
204,204,The Failure of US Democracy,NaN,The Failure of US Democracy How The Oligarchs ...,1
...,...,...,...,...,...
296,296,Germany Reacts to Merkel-Trump Visit: ‘Could H...,Melissa Eddy,BERLIN — A strong relationship with the Uni...,0
297,297,Justin Rose Outduels Henrik Stenson for Golf G...,Karen Crouse,RIO DE JANEIRO — The lives of the world’s t...,0
298,298,Iceland’s Water Cure - The New York Times,Dan Kois,"On a frigid February day in Reykjavik, I stood...",0
299,299,US to Hold Off on Cyberwar With Russia Until A...,NaN,US to Hold Off on Cyberwar With Russia Until A...,1
300,300,M.T.A. Shortens L Train Shutdown to 15 Months ...,Emma G. Fitzsimmons,The Metropolitan Transportation Authority had ...,0

In [11]:
data = data.drop(['id'],axis=1)

In [12]:
data.head()

,title,author,text,label
0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [13]:
data = data.fillna('')

In [14]:
data.isnull().sum()

title     0
author    0
text      0
label     0
dtype: int64

In [16]:
data['content'] = data['author']+' '+data['title']+' '+data['text']

In [17]:
data = data.drop(['title','author','text'],axis = 1)

In [18]:
data.head()

   label                                            content
0      1  Darrell Lucus House Dem Aide: We Didn’t Even S...
1      0  Daniel J. Flynn FLYNN: Hillary Clinton, Big Wo...
2      1  Consortiumnews.com Why the Truth Might Get You...
3      1  Jessica Purkiss 15 Civilians Killed In Single ...
4      1  Howard Portnoy Iranian woman jailed for fictio...

In [22]:
data['content'] = data['content'].apply(lambda x : " ".join(x.lower() for x in x.split()))

In [23]:
data['content'] = data['content'] = data['content'].str.replace('[^\w\s]','')

In [25]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Bhuvansai\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [26]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
data['content'] = data['content'].apply(lambda x:" ".join(x for x in x.split() if x not in stop))

In [27]:
data.head()

   label                                            content
0      1  darrell lucus house dem aide: didn’t even see ...
1      0  daniel j. flynn flynn: hillary clinton, big wo...
2      1  consortiumnews.com truth might get fired truth...
3      1  jessica purkiss 15 civilians killed single us ...
4      1  howard portnoy iranian woman jailed fictional ...

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   label    20800 non-null  int64
 1   content  20800 non-null  object
dtypes: int64(1), object(1)
memory usage: 325.1+ KB

In [30]:
!pip install textblob
python -m

Requirement already satisfied: textblob in c:\users\bhuvansai\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: nltk>=3.9 in c:\users\bhuvansai\anaconda3\lib\site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in c:\users\bhuvansai\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.1.7)
Requirement already satisfied: joblib in c:\users\bhuvansai\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\bhuvansai\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\bhuvansai\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.65.0)
Requirement already satisfied: colorama in c:\users\bhuvansai\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)

In [37]:
from nltk.stem import WordNetLemmatizer
from textblob import Word
nltk.download('wordnet')
data['content'] = data['content'].apply(lambda x:" ".join([Word(word).lemmatize() for word in x.split()]))

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Bhuvansai\AppData\Roaming\nltk_data...

In [38]:
data['content'].head()

0    darrell lucus house dem aide: didn’t even see ...
1    daniel j. flynn flynn: hillary clinton, big wo...
2    consortiumnews.com truth might get fired truth...
3    jessica purkiss 15 civilian killed single u ai...
4    howard portnoy iranian woman jailed fictional ...
Name: content, dtype: object

In [39]:
X = data['content']
y = data['label']

In [44]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3,random_state = 45,stratify = y)

In [45]:
print(y_train.shape)

(14560,)