Text classification

In [1]:
#Classification model
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('hate_speech.csv')
df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [4]:
df.isnull().sum()

id       0
label    0
tweet    0
dtype: int64

In [5]:
df.dropna()

         id  label                                              tweet
0         1      0   @user when a father is dysfunctional and is s...
1         2      0  @user @user thanks for #lyft credit i can't us...
2         3      0                                bihday your majesty
3         4      0  #model   i love u take with u all the time in ...
4         5      0             factsguide: society now    #motivation
...     ...    ...                                                ...
5237  31935      1  lady banned from kentucky mall. @user  #jcpenn...
5238  31947      1  @user omfg i'm offended! i'm a  mailbox and i'...
5239  31948      1  @user @user you don't have the balls to hashta...
5240  31949      1   makes you ask yourself, who am i? then am i a...
5241  31961      1  @user #sikh #temple vandalised in in #calgary,...

[5242 rows x 3 columns]

In [6]:
df.shape

(5242, 3)

In [7]:
df.label.value_counts()

label
0    3000
1    2242
Name: count, dtype: int64

In [8]:
for index,tweet in enumerate(df['tweet'][10:15]):
    print(index+1,"-",tweet)

1 -  â #ireland consumer price index (mom) climbed from previous 0.2% to 0.5% in may   #blog #silver #gold #forex
2 - we are so selfish. #orlando #standwithorlando #pulseshooting #orlandoshooting #biggerproblems #selfish #heabreaking   #values #love #
3 - i get to see my daddy today!!   #80days #gettingfed
4 - ouch...junior is angryð#got7 #junior #yugyoem   #omg
5 - i am thankful for having a paner. #thankful #positive

In [9]:
import re
def clean(text):
    text = re.sub(r'[^a-zA-Z\']',' ',text)
    text = re.sub(r'[^\x00-\x7F]+',' ',text)
    text = text.lower()
    return text

In [18]:
df['clean_text'] = df.tweet.apply(lambda x: clean(x))

In [19]:
df.head()

,id,label,tweet,clean_text
0,1,0,@user when a father is dysfunctional and is s...,user when a father is dysfunctional and is s...
1,2,0,@user @user thanks for #lyft credit i can't us...,user user thanks for lyft credit i can't us...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,model i love u take with u all the time in ...
4,5,0,factsguide: society now #motivation,factsguide society now motivation

In [20]:
df.shape

(5242, 4)

In [22]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
df['clean_text'] = df.clean_text.apply(lambda x : x for x in clean_text if x not in stop)

In [59]:
def gen_freq(text):
    word_list = []
    for tw_words in text.split():
        word_list.append(tw_words)
        word_freq = pd.Series(word_list).value_counts()
        word_freq  = word_freq.drop(stop)
    return word_freq

In [60]:
def any_neg(words):
    for word in words:
        if word in ['n','no','non','not'] or re.search(r"\wn't",word):
            return 1
        else:
            return 0

In [61]:
def any_rare(words,rare_100):
    for word in words:
        if word in rare_100:
            return 1
        else:
            return 0

In [62]:
def is_question(words):
    for word in words:
        if word in ['what','when','why','who','where','how']:
            return 1
        else:
            return 0

In [63]:
word_freq = gen_freq(df.clean_text.str)
rare_100 = word_freq[-100:]
df['word_count'] = df.clean_text.str.split().apply(lambda x:len(x))
df['any_neg'] = df.clean_text.str.split().apply(lambda x: any_neg(x))
df['is_ques'] = df.clean_text.str.split().apply(lambda x: is_question(x))
df['any_rare'] = df.clean_text.str.split().apply(lambda x: any_rare(x,rare_100))
df['char_count'] = df.clean_text.apply(lambda x:len(x))

TypeError: unhashable type: 'list'